:root {
    --page-width: 260mm;
    --page-height: 371mm;
    /* --page-width: 210mm;
    --page-height: 297mm; */
    --decorator-border: 2px solid #ccc;
    --body-text-color: #494747;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  html {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--body-text-color);
    box-sizing: border-box;
  }
  
  body {
    background-color: #495163;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  p {
    padding: 2rem 0 2.5rem;
    line-height: 1.5;
  }
  
  ul {
    list-style-type: none;
  }

  i {
      font-style: italic;
  }
  
  strong {
    font-weight: 600;
  }

  h1,
  h2,
  h3 {
    color: #000000;
    font-weight: 600;
  }
  
  h1 {
    font-size: 4rem;
    line-height: 1.1;
    letter-spacing: 0.3rem;
  }
  
  h2 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
  }
  
  h3 {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 2;
  }
  
  .h2-wrapper {
    position: relative;
  }
  
  .heading-decorator {
    border-bottom: 3px solid #000000;
    width: 4ch;
    position: absolute;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .strap-line {
    line-height: 4;
    font-size: 1.3rem;
  }
  
  .border-bottom {
    border-bottom: var(--decorator-border);
  }
  
  .position {
    display: flex;
    justify-content: space-between;
    line-height: 1.2;
  }
  
  .position .location {
    font-weight: 200;
  }

  .position a,
  .position a:visited {
    color: inherit;
  }
  
  .position span:first-child {
    flex-basis: 70%;
  }

  .position-description ul {
    list-style-type: initial;
    margin-left: 2rem;
  }

  .position-description li:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .container {
    margin: 3rem 0;
  }
  
  .page {
    width: var(--page-width);
    height: var(--page-height);
    padding: 3rem 4rem;
    display: grid;
    background-color: white;
    border-radius: 0.5rem;
  }
  
  .section {
    margin-bottom: 4rem;
  }
  
  .body section {
    margin-bottom: 2.5rem;
  }
  
  .body h3 {
    letter-spacing: 0;
  }
  
  .page1 {
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
      "title title"
      "side-bar body";
    margin-bottom: 4rem;
  }
  
  .page2 {
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: auto auto;
    gap: 0px;
    grid-template-areas: "side-bar body";
  }
  
  .title {
    grid-area: title;
    border-bottom: var(--decorator-border);
  }

  .progress {
    height: 3px;
    width: 0%;
    background-color: #AE009C;
    position: fixed;
    top: 0;
    left: 0;
    animation: progress 1s linear;
  }
  
  @keyframes progress {
    to {
      width: 100%;
    }
  }
  
  
  .side-bar {
    grid-area: side-bar;
    border-right: var(--decorator-border);
    padding-top: 2rem;
  }
  
  .body {
    grid-area: body;
    padding: 2rem 0 0 2rem;
  }
  
  .list {
    padding: 2rem 0 0 0;
    line-height: 2.3;
  }
  
  .list > li,
  .list a {
    color: #000000;
  }
  
  .time-range {
    color: #000000;
  }

  .pt-0 {
    padding-top: 0;
  }
  
  .pt-1 {
    padding-top: 1rem;
  }
  
  .pt-2 {
    padding-top: 2rem;
  }
  
  .pb-2 {
    padding-bottom: 2rem;
  }

  .pb-2\.5 {
    padding-bottom: 2.5rem;
  }

  .pb-1 {
    padding-bottom: 1rem;
  }
  
  .font-black {
    color: #000000;
  }
  
  .font-size-14 {
    font-size: 0.9rem;
  }
  
  .no-underline {
    text-decoration: none;
  }
  
  address > a {
    color: #716e6e;
  }
  
  .time-period {
    font-weight: 200;
    color: #000000;
    font-size: 0.9rem;
    padding-top: 0.5rem;
  }


  
  @media print {

    /* :root {
    --page-width: 210mm;
    --page-height: 297mm;
    }
   */
    html {
      color:#000000;
      font-weight: 500;
      font-size: 15px;
    }
  
    body {
      margin: 0;
      background-color: #fff;
    }

    a {
      text-decoration: none;
    }

    a:link:not(.no-print):after,
    a:visited:not(.no-print):after { 
      content:"\a [" attr(href) "] ";
      white-space: pre;
      font-size: 0.7rem;
    }
  
    .container {
      margin: 0;
    }

    .page {
      padding: 0rem 4rem;
      height: fit-content;
    }

    .page1 {
      margin-bottom: 0;
      grid-template-rows: 0.2fr 1.8fr;
    }

    .section {
      margin-bottom: 3rem;
    }
  
  }

  :root * {
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }